<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Assignment</title>
</head>

<body>
    <header>
        <div class="navbar" id="nav">
            <div class="navbar-right">
                <a href="/student/home">Home</a>
                <a href="/student/course">Course</a>
                <a href="/student/grade">Grade</a>
                <a href="/student/assignment" class="active">Assignment</a>
                <a href="/student/logout">Logout</a>
                <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </div>
    </header>
    <section class="AboutUsBox">
        <button id="myBtn" class="btn">Add New Assignment</button>
    </section>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <section class="formBox">
                <h1>
                    Enter Assignment Detail
                </h1>
                <form action="/student/addNewAssignment" method="post" >
                    <label><b>Assignment Name</b></label>
                    <input type="text" placeholder="Enter assignment name" name="assignmentName" required>
                    <br>
                    <label><b>Course Name</b></label>
                    <select name="courseName" required>
                        <% courseNames.forEach(function(row) { %>
                            <option value="<%- row.name %>"><%- row.name %></option>
                        <% }); %>
                    </select>
                    <br>
                    <label><b>Due Date</b></label> <br> <br>
                    <input type="date" name="dueData" required>
                    <br>
                    <br>
                    <label><b>Description</b></label>
                    <textarea name="description"></textarea>
                    <br>
                    <input type="submit" value="Save">
                </form>
            </section>


        </div>

    </div>
    <section class="AboutUsBox">
        <h1>
            Manage Assignment
        </h1>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Assignment Name</th>
                    <th>Course</th>
                    <th>Due Date</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% record.forEach(function(obj) { %>
                    <tr>
                        <td><%- (obj.id) %></td>
                        <td><%- (obj.name) %></td>
                        <td><%- (obj.course) %></td>
                        <td><%- (obj.dueDate) %></td>
                        <td><%- (obj.description) %></td>
                        <td>
                            <div style="display: flex; flex-direction: row; flex: 1;justify-content: center; align-items: center; gap: 10px,">
                                <form action="/student/assignment/update" method="POST">
                                    <input type="hidden" name="assignmentId" value="<%- obj.id %>">
                                    <button type="submit"
                                        style="background-color: green;padding: 10px 20px; border-radius: 5px; color: white; border: none ; cursor: pointer; ">
                                        <i class="fa fa-edit"></i> Update
                                    </button>
                                </form>
                                <form action="/student/assignment/delete" method="POST">
                                    <input type="hidden" name="assignmentId" value="<%- obj.id %>">
                                    <button type="submit"
                                        style="background-color: red;padding: 10px 20px; border-radius: 5px; color: white; border: none ; cursor: pointer; ">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </form>
                            </div>
                        </td>

                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </section>


    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>

</html>